<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /WorkTimer/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /WorkTimer/index.php [L]
</IfModule>
